<!DOCTYPE html>
<html>
<head>
  <title> </title>
</head>
<header>
  My Tiny App
</header>
<body>
 <% if(!username) { %>
 <form action="/login" method="POST" style="">
    <input id="username" type="text" name="username" placeholder="Username" style="width: 100px">
    <input type="submit" value="Login"></form></p>
  </form>

<% } else { %>
    Hey <%= username %>! <form method="POST" action="/logout">
        <input type="Submit" name="logOut" value="Log out" name="username"></form>
 <% } %>



</body>
</html>