<!DOCTYPE html>
<html>
<head>
  <title> </title>
</head>
<header>
  My Tiny App
</header>
<body>
 <% if(!email) { %>
 <form action="/login" method="GET" style="">
    <input type="submit" value="Sign in">
  </form>
    <form action="/register" method="GET">
      <input type="submit" value="Register">
    </form>

<% } else { %>
    Hey <%= email %>! <form method="POST" action="/logout">
        <input type="Submit" name="logOut" value="Log out" name="email"></form>
 <% } %>
</body>
</html>