<!DOCTYPE html>
<html>

<head>
  <title> </title>
</head>
<header>
  <h2>My Tiny App by Jacky</h2>
</header>
  <body>
    <div>
      <% if(!email) { %>
        <b>Please login or register before using.</b>
        <form action="/login" method="GET" style="">
          <input type="submit" value="login">
        </form>
        <form action="/register" method="GET">
          <input type="submit" value="Register">
        </form>

        <% } else { %>
          Welcome <b><%= email %>!</b> </br>
          <a href="/urls">My links</a>
          <form method="POST" action="/logout">
            <input type="Submit" name="logOut" value="Log out" name="email"></form>
          <% } %>
    </div>
  </body>
</html>
