<!DOCTYPE html>
<html>
<head>
  <title> </title>
</head>
<header>
  <h2>TinyApp by Jacky</h2>
</header>
<body>
  <div>
    <% if(!email) { %>
      <b>Please login or register before using.</b>
      <form action="/login" method="GET" style="">
        <input type="submit" value="Login">
      </form>
      <form action="/register" method="GET">
        <input type="submit" value="Register">
      </form>
      <% } else { %>
        <form method="POST" action="/logout">
          Welcome <b><%= email %>! </b>
          <input type="Submit" name="logOut" value="Log out" name="email">
        </form>
        <a href="/urls">My links</a>
        <% } %>
  </div>
</body>

</html>
