<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include ../views/partials/_header %>

</head>
  <body>
    <ul>
       <% Object.keys(urls).forEach(function(key) { %>
        <li><a href="<%= urls[key] %>"><%= key %></a> --->
        <%= urls[key] %>
        <form method="POST" action="/urls/9sm5xK/delete">
        <input type="Submit" name="Delete" value="Delete"></form>

         <br></br></li>
      <% }); %>
    </ul>
    <a href ="">Click here to shorten your links</a>
  </body>
</html>