<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

  Please sign up:
  <form action="/register" method="POST" style="">
    <input id="registerName" type="email" name="email" placeholder="Email" style="width: 100px">
    <input id="registerPass" type="password" name="password" placeholder="Password" style="width: 100px">
    <input type="submit" value="register"></form></p>
  </form>

</body>
</html>