<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
  <body>
    <ul>
      <h1>Login:</h1> 
      <form action="/login" method="POST">
        <label for="email">Enter your e-mail:</label>
        <input id="email" type="email" name="email" placeholder="example@tinyapp.com" style="width: 150px"></br>
        <label for="password">Enter your password:</label>
        <input id="password" type="password" name="password" placeholder="Password" style="width: 150px"></br>
        <input type="submit" value="Sign in">
      </form>
    </ul>
  </body>
</html>
