<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
  <% include ../views/partials/_header %>
</head>
  <body>
    <% if(!email) { %>
      <b>Please login or register before using.</b>
    <% } else if (urls[paramId].user === email) { %>
      <h2><%= paramId %> - <%= urls[paramId].longURL %></h2>
      <form action="/urls/<%= paramId %>" method="POST" style="">
        <label for="newURL">Update URL:</label>
        <input id="newURL" type="text" name="newURL" placeholder="http://" style="width: 300px">
        <input type="submit" value="Update">
      </form>
    <% }%> </br>
      <a href="/urls">Return to list</a>
  </body>

</html>
