<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include ../views/partials/_header %>
</head>
  <body>
    <h2>ShortURL: <%= shortURL %> </h2>
    <p> <%= longURL %>
    <form action="/urls/<%= shortURL %>" method="POST" style="">
      <label for="newURL">Update URL:</label>
      <input id="newURL" type="text" name="newURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Update">
    </form>

    <a href="http://localhost:8080/urls/">Return to list</a>
  </body>
</html>
