<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include ../views/partials/_header %>

</head>
  <body>
    <ul>
       <% Object.keys(urls).forEach(function(key) { %>
        <li><a href="<%= urls[key] %>"><%= key %></a></li>
      <% }); %>
    </ul>

  </body>
</html>