<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
  <body>
    <h1>Please sign up:</h1>
    <form action="/register" method="POST" style="">
      <input id="email" type="email" name="email" placeholder="Email" style=" font-size: 20px; width: 150px">
      <input id="registerPass" type="password" name="password" placeholder="Password" style="font-size: 20px; width: 100px">
      <input type="submit" value="register"></form></p>
    </form>
    <b>*You will need to login before using TinyApp.</b>
  </body>
</html>
